<div class='col-md-4'>
<a href='/#/projects/<%= project.id %>'><%= project.escape('name') %></a><br>
  This project is <%= project.escape('percentage') %>% towards its goal and is <%= project.escape('status') %>.<br>
  This project has <%= project.escape('time_left') %> left.
</div>