<a href='/#/projects/<%= project.id %>'><%= project.escape('name') %></a><br>
  This project is <%= percentage %>% towards its goal and is <%= project.escape('status') %>.<br>
  This project has <%= project.escape('time_left') %> left.