
<a href='/#/projects/<%= project.id %>'><%= project.name %></a><br>
This project is <%= project.percentage %> towards its goal and is <%= project.status %>.
This project has <%= project.time_left %> left.