<div>
  <a href='/#/projects/<%= project.id %>'><%= project.name %></a><br>
  This project is <%= project.escape %> towards its goal and is <%= project.status %>.<br>
  This project has <%= project.time_left %> left.
</div>