<!DOCTYPE html>
<html>
<head>
  <title>Kickstarter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src'jquery.js'></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>

  <% if !session[:message].nil? %>
  <%= session[:message] %>
  <% end %>


  <% if session[:errors] %>
    <% session[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <%= yield %>

  <% if logged_in? %>
    You are logged in as: <%= current_user.username %><br>
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% else %>
  <%= link_to "Sign Up", new_user_url %>
  <%= link_to "Sign In", new_session_url %>
  <% end %>

</body>
</html>
